body {
    font-family: 'Prompt', sans-serif;
}

.login-body {
    background-color: #f0f0f0; 
}

:root {
    --view: #9e60cf;
    --edit: #e5b768;
    --delete: #da4f91;
    --bg-menu: #e5b768;
    --font-menu: #333333;
    --outro: #77c094;
    --link-font: #5CAECC;
}

a {
    color: var(--delete);
}

a:hover {
    color: var(--view);
}

.bg-menu {
    background-color: var(--bg-menu);
    margin-bottom: 35px;
}

.btn-menu{
	background-color:var(--bg-menu);
}

.btn-menu:hover{
	background-color:var(--bg-menu);
}

div > div > p {
    margin: 0;
}

.img-logo {
    width: 10%;
}

.nav-color {
    color: var(--font-menu);
}

.bi-eye-fill,
.bi-2-circle-fill {
    color: var(--view);
}

.bi-1-circle-fill {
    color: var(--link-font);
}

.bi-pencil-square {
    color: var(--edit);
}

.bi-trash3-fill,
.bi-3-circle-fill {
    color: var(--delete);
}

.bi-check-circle-fill,
.bi-circle {
    color: var(--outro);
}

.navbar-brand {
    font-weight: bold;
}

.thead {
    background-color: var(--bg-menu);
}

.operation {
    margin-left: 2px;
    margin-right: 2px;
}




.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-top: 50px; 
}

.login-icon {
    font-size: 60px;
    color: #007bff;
    margin-bottom: 20px;
}

.form-label {
    text-align: left;
}

.btn-login {
    width: 100%;
    margin-top: 20px;
}


